<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="mrthawng.3TN_Shop.dbo" connectionString="XpoProvider=MSSqlServer;data source=MrTHAWNG;integrated security=SSPI;initial catalog=3TN_Shop" />
        <add name="GUI.Properties.Settings._3TN_ShopConnectionString"
            connectionString="Data Source=DESKTOP-3EB5O5K;Initial Catalog=3TN_Shop;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="GUI.Properties.Settings.Shop_3TNConnectionString"
            connectionString="Data Source=DESKTOP-3EB5O5K;Initial Catalog=Shop_3TN;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="GUI.Properties.Settings._3TNConnectionString" connectionString="Data Source=DESKTOP-3EB5O5K;Initial Catalog=3TN;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>